.home {
  text-align: center;
}

.home .center {
  display: flex;
  justify-content: center;
  flex-direction: column;
  
}

.weight-info{
  color: rgb(14, 135, 151);
  font-weight: bold;
}

.indicator {
  display: flex;
    justify-content: center;
}


